# Add files here to ignore them from prettier formatting
pnpm-lock.yaml
/dist
/coverage

**/*.typegen.ts

libs/biz/ui/src/components/message-list/**/*
libs/message-item-plugins/src/components/remark/hast-util-to-jsx-runtime/**/*